<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SixByNine</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <input type="text" ng-model="searchBox">

  <app-root></app-root>

  <div ng-controler="rapper">
      <ul>
        <h2>Artist you are searching for:</h2>
        <li ng-repeat="rapper in rappers | filter:searchBox">
          {{ rapper.Name + ' : ' + rapper.Age }}
        </li>
      </ul>
    </div>
    <div>
      <h1>Top Rappers</h1>
      <ul>
        <li>
          {{ rapper }}
        </li>
      </ul>
    </div>
  
</body>
</html>
